<h1>TEST di query per estrarre i servizi di ristorazione da uno stato</h1>

In [19]:
import overpy
def number_node(stato = "FR"):
    api = overpy.Overpass()

    query = '''
        ( area["ISO3166-1"={}]; )->.a;
        node["amenity"~"bar|cafe|pub|internet_cafe|fast_food|restaurant"] (area.a);
        (._;>;);
        out body;'''.format(stato)
    result = api.query(query)
    print(stato, len(result.nodes))
    return {"num_nodi": len(result.nodes), "nodi": result}

<h1> numero di nodi (punti di ristorazione) individuati dalla query</h1>

In [31]:
risultati = number_node(stato = 'IE')
print(risultati['num_nodi'])

6658

<h1> elenco dei primi 7 nodi </h1>

In [25]:
for item in risultati["nodi"].nodes[0:7]:
    print(item.tags, item.lat, item.lon)

{'cuisine': 'indian', 'amenity': 'restaurant', 'addr:street': 'Kilmacud Road Lower', 'name': 'Indian Summer'} 53.2884983 -6.2057489
{'amenity': 'restaurant'} 54.0393202 -7.7142799
{'created_by': 'Potlatch 0.5c', 'amenity': 'pub', 'name': 'Traders'} 53.3068846 -6.3373313
{'amenity': 'pub', 'name': 'Boot Inn'} 53.4318527 -6.2639303
{'toilets:wheelchair': 'yes', 'wheelchair': 'yes', 'amenity': 'pub', 'name': 'The Harbourmaster'} 53.3497415 -6.2490911
{'wheelchair': 'yes', 'amenity': 'restaurant', 'addr:street': 'Deerpark Road', 'name': 'Union Cafe'} 53.2964377 -6.2113258
{'addr:city': 'Dublin', 'wheelchair': 'no', 'amenity': 'pub', 'name': 'Le Monde', 'addr:country': 'IE', 'addr:street': 'Store Street', 'addr:housenumber': '21'} 53.3500620 -6.2526730

<h1> raccolta dati nuts0 da OSM su ristorazione </h1>

In [7]:
import pandas as pd
import os
import numpy as np

In [8]:
#recupero la tabella di eurostat con i dati sulle unità locali della ristorazione 
data = pd.read_excel("I56_eurostat.xlsx")

In [26]:
data["num_nodi"] = np.nan

In [27]:
data.set_index("CodiceMAP", inplace = True)

In [34]:
for stato in data.index:
    try:
        data.loc[stato, "num_nodi"] = number_node(stato = stato)['num_nodi']
    except:
        data.loc[stato, "num_nodi"] = "error"

In [ ]:
<h1> risultato del primo tentativo </h1>

In [35]:
data

,2014,2013,2012,2011,2010,2009,2008,ultimo valore disponibile,media,rank,Nome,num_nodi
CodiceMAP,,,,,,,,,,,,
FR,284583,269894,262289,256962,252765,248690,234200,284583,261745.750000,1,FRANCE,0
ES,268108,274227,279920,283184,281865,284091,289404,268108,278613.375000,2,ESPAÑA,0
IT,266162,266768,262031,293083,265945,267644,268470,266162,269533.125000,3,ITALIA,65764
DE,207282,NaN,NaN,NaN,NaN,NaN,NaN,207282,207282.000000,4,DEUTSCHLAND,142332
UK,149750,148254,144035,144450,146643,150069,156378,149750,148666.125000,5,UNITED KINGDOM,0
PT,81853,81726,83283,85485,85298,89120,91120,81853,84967.250000,6,PORTUGAL,16163
EL,76224,72977,76981,80683,79751,86195,95189,76224,80528.000000,7,Greece,error
NL,52919,51270,42965,41216,41255,35674,33831,52919,44006.125000,8,NEDERLAND,error
CZ,51894,51658,53126,52686,52795,51574,49005,51894,51829.000000,9,ČESKÁ REPUBLIKA,error
BE,47091,45102,47806,46958,46269,42439,42911,47091,45708.375000,10,BELGIQUE-BELGIË,12243
PL,39647,36935,40434,38898,38573,43264,50535,39647,40991.625000,11,POLSKA,error
AT,39178,37024,34843,34811,35078,34907,36045,39178,36383.000000,12,ÖSTERREICH,19127
HU,27096,27514,29451,30610,30656,30731,31195,27096,29293.625000,13,MAGYARORSZÁG,error
SE,26960,26258,25717,25154,24649,23767,23238,26960,25337.875000,14,SVERIGE,error
BG,22074,22217,22902,22633,22827,22675,19476,22074,22109.750000,15,BULGARIA,error
RO,20183,19547,18892,17840,19689,21186,19537,20183,19632.125000,16,Romania,error
DK,15443,15125,14922,14843,14527,14067,13674,15443,14755.500000,17,DANMARK,error
SK,13710,13543,13819,14751,13893,2076,2072,13710,10946.750000,18,SLOVENSKÁ REPUBLIKA,error
FI,12682,12808,15240,15757,15558,15500,15381,12682,14451.000000,19,SUOMI / FINLAND,error
NO,10486,10060,9765,9476,9403,9066,9004,10486,9718.250000,20,NORGE,error
IE,8768,NaN,14745,14881,15060,15195,14795,8768,13173.142857,21,IRELAND,error
SI,8575,8358,7788,7717,7444,7186,7005,8575,7831.000000,22,SLOVENIJA,error
CY,5107,5080,5152,5194,5194,6049,6017,5107,5362.500000,23,ΚΥΠΡΟΣ / KIBRIS,error
LT,4331,4132,3882,3622,3516,3527,3532,4331,3859.125000,24,LIETUVA,error
LV,4147,4071,4030,3332,3956,3343,3854,4147,3860.000000,25,LATVIJA,error
LU,2776,2798,2727,2805,2757,2674,NaN,2776,2759.000000,26,LUXEMBOURG (GRAND-DUCHÉ),error
MT,2050,1950,1893,1972,1803,1753,1498,2050,1871.125000,27,MALTA,error
EE,1867,1870,1694,1725,1611,1490,1442,1867,1695.750000,28,EESTI,error